Dataset_Willys_2020/ORGINAL/apotek/Allegra Allegra 120mg Allergitabletter.jpg
*.jpg

*.csv
resources/plot_transforms.ipynb
MyModel
.vscode/extensions.json
MileStone_1_Training_Validation_data_Setup/__pycache__/load_data.cpython-39.pyc
MileStone_3_Create_Neural_Network/WillyNet1.py
MileStone_3_Create_Neural_Network/__pycache__/WillyAlexNet.cpython-39.pyc
MileStone_3_Create_Neural_Network/__pycache__/WillyMnasNet0_5.cpython-39.pyc
MileStone_3_Create_Neural_Network/__pycache__/WillyNet.cpython-39.pyc
MileStone_3_Create_Neural_Network/__pycache__/WillyNet1.cpython-39.pyc
MileStone_3_Create_Neural_Network/__pycache__/WillysShuffleNet_v2_x1_0.cpython-39.pyc
MileStone_4_Train_network/createTrainer.py
MileStone_4_Train_network/initializeModel.py
MileStone_4_Train_network/trainingIgnite.py
MileStone_4_Train_network/__pycache__/CreateTrainer.cpython-39.pyc
MileStone_4_Train_network/__pycache__/getData.cpython-39.pyc
MileStone_4_Train_network/__pycache__/InitializeModel.cpython-39.pyc
MileStone_4_Train_network/__pycache__/TrainingIgnite.cpython-39.pyc
MileStone_4_Train_network/training_files/bestModels/WillyMnasNet0_5/date_01_10_2021/time_10/bestModel/best_model_val_accuracy=0.1150.pt
MileStone_4_Train_network/training_files/bestModels/WillyMnasNet0_5/date_01_10_2021/time_10/bestModel/best_model_val_accuracy=0.1183.pt
MileStone_4_Train_network/training_files/bestModels/WillyMnasNet0_5/date_01_10_2021/time_11/bestModel/best_model_val_accuracy=0.1308.pt
MileStone_4_Train_network/training_files/bestModels/WillyMnasNet0_5/date_01_10_2021/time_11/bestModel/best_model_val_accuracy=0.1350.pt
MileStone_4_Train_network/training_files/tensorboard/WillyMnasNet0_5/date_01_10_2021/time_10/log/events.out.tfevents.1633078437.desktop
MileStone_4_Train_network/training_files/tensorboard/WillyMnasNet0_5/date_01_10_2021/time_11/log/events.out.tfevents.1633080337.desktop
MileStone_4_Train_network/training_files/training_Checkpoints/WillyMnasNet0_5/date_01_10_2021/time_10/output/checkpoint.pt
MileStone_4_Train_network/training_files/training_Checkpoints/WillyMnasNet0_5/date_01_10_2021/time_10/output/WillyMnasNet0_5_WillyMnasNet0_5_72.pt
MileStone_4_Train_network/training_files/training_Checkpoints/WillyMnasNet0_5/date_01_10_2021/time_10/output/WillyMnasNet0_5_WillyMnasNet0_5_90.pt
MileStone_4_Train_network/training_files/training_Checkpoints/WillyMnasNet0_5/date_01_10_2021/time_11/checkpoints/checkpoint.pt
MileStone_4_Train_network/training_files/training_Checkpoints/WillyMnasNet0_5/date_01_10_2021/time_11/checkpoints/WillyMnasNet0_5_WillyMnasNet0_5_72.pt
MileStone_4_Train_network/training_files/training_Checkpoints/WillyMnasNet0_5/date_01_10_2021/time_11/checkpoints/WillyMnasNet0_5_WillyMnasNet0_5_90.pt
MileStone_4_Train_network/training_files/training_Checkpoints/WillyMnasNet0_5/date_01_10_2021/time_11/trainer/checkpoint_90.pt
